Repository PSU-CapstoneBrownHope/BrownHopeAidApp, pull requests merged in 2022-03, with the labels that each got.

#70 Add README and LICENSE
  LICENSE
  README.md
Labels: documentation

#73 Front end development
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/bh_full-color_stacked_black.png
  frontend/public/index.html
  frontend/public/logo.ico
  frontend/public/logo.jpg
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/BebasNeue-Regular.ttf
  frontend/src/OFL.txt
  frontend/src/RaleWay/OFL.txt
  frontend/src/RaleWay/README.txt
  frontend/src/RaleWay/Raleway-Italic-VariableFont_wght.ttf
  frontend/src/RaleWay/Raleway-VariableFont_wght.ttf
  frontend/src/RaleWay/static/Raleway-Black.ttf
  frontend/src/RaleWay/static/Raleway-BlackItalic.ttf
  frontend/src/RaleWay/static/Raleway-Bold.ttf
  frontend/src/RaleWay/static/Raleway-BoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-ExtraBold.ttf
  frontend/src/RaleWay/static/Raleway-ExtraBoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-ExtraLight.ttf
  frontend/src/RaleWay/static/Raleway-ExtraLightItalic.ttf
  frontend/src/RaleWay/static/Raleway-Italic.ttf
  frontend/src/RaleWay/static/Raleway-Light.ttf
  frontend/src/RaleWay/static/Raleway-LightItalic.ttf
  frontend/src/RaleWay/static/Raleway-Medium.ttf
  frontend/src/RaleWay/static/Raleway-MediumItalic.ttf
  frontend/src/RaleWay/static/Raleway-Regular.ttf
  frontend/src/RaleWay/static/Raleway-SemiBold.ttf
  frontend/src/RaleWay/static/Raleway-SemiBoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-Thin.ttf
  frontend/src/RaleWay/static/Raleway-ThinItalic.ttf
  frontend/src/Raleway-Italic-VariableFont_wght.ttf
  frontend/src/Raleway-VariableFont_wght.ttf
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: front end

#74 Revert "Front end development"
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/bh_full-color_stacked_black.png
  frontend/public/index.html
  frontend/public/logo.ico
  frontend/public/logo.jpg
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/BebasNeue-Regular.ttf
  frontend/src/OFL.txt
  frontend/src/RaleWay/OFL.txt
  frontend/src/RaleWay/README.txt
  frontend/src/RaleWay/Raleway-Italic-VariableFont_wght.ttf
  frontend/src/RaleWay/Raleway-VariableFont_wght.ttf
  frontend/src/RaleWay/static/Raleway-Black.ttf
  frontend/src/RaleWay/static/Raleway-BlackItalic.ttf
  frontend/src/RaleWay/static/Raleway-Bold.ttf
  frontend/src/RaleWay/static/Raleway-BoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-ExtraBold.ttf
  frontend/src/RaleWay/static/Raleway-ExtraBoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-ExtraLight.ttf
  frontend/src/RaleWay/static/Raleway-ExtraLightItalic.ttf
  frontend/src/RaleWay/static/Raleway-Italic.ttf
  frontend/src/RaleWay/static/Raleway-Light.ttf
  frontend/src/RaleWay/static/Raleway-LightItalic.ttf
  frontend/src/RaleWay/static/Raleway-Medium.ttf
  frontend/src/RaleWay/static/Raleway-MediumItalic.ttf
  frontend/src/RaleWay/static/Raleway-Regular.ttf
  frontend/src/RaleWay/static/Raleway-SemiBold.ttf
  frontend/src/RaleWay/static/Raleway-SemiBoldItalic.ttf
  frontend/src/RaleWay/static/Raleway-Thin.ttf
  frontend/src/RaleWay/static/Raleway-ThinItalic.ttf
  frontend/src/Raleway-Italic-VariableFont_wght.ttf
  frontend/src/Raleway-VariableFont_wght.ttf
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: invalid, front end
